#body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}
#date-wrapper{
    background-color: azure;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
#date-time{
    letter-spacing: 0.1rem;
    font-variant-numeric: tabular-nums;
    font-weight: 900;
    font-size: 48px;
}
#date-date{
    letter-spacing: 0.1rem;
    font-variant-numeric: tabular-nums;
    font-size: 36px;
    font-weight: 600;
}
